/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.02.2019, 15:01:26
    Author     : Benjamin Kanzler
*/


/*CSS für die Navigationsleiste*/

.logo {
    max-height: 3em;
}

.brand {
    color: #0069d9 !important;
    text-align: left;
}

.fulldiv{
    height: 252px;
}
.background{
    background: #ffffff;
    background-image: url("pictures/Hintergrund.jpg");

}
